{% extends 'base.html.twig' %}

{% block title %}PotentielEleve{% endblock %}

{% block body %}
    <h1>PotentielEleve</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ potentiel_eleve.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ potentiel_eleve.Nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ potentiel_eleve.Prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ potentiel_eleve.Email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ potentiel_eleve.Telephone }}</td>
            </tr>
            <tr>
                <th>NumDossierPsup</th>
                <td>{{ potentiel_eleve.NumDossierPsup }}</td>
            </tr>
            <tr>
                <th>FiliereEnvisage</th>
                <td>{{ potentiel_eleve.FiliereEnvisage }}</td>
            </tr>
            <tr>
                <th>AncienEtablissement</th>
                <td>{{ potentiel_eleve.AncienEtablissement }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_potentiel_eleve_index') }}">back to list</a>

    <a href="{{ path('app_potentiel_eleve_edit', {'id': potentiel_eleve.id}) }}">edit</a>

    {{ include('potentiel_eleve/_delete_form.html.twig') }}
{% endblock %}
