{% import "_macros/form.html.twig" as _form_input %}

{{ form_start(form) }}

{% for formField in form %}
    {% if "hidden" in formField.vars.block_prefixes %}
        {{ form_widget(formField) }}
    {% elseif formField.vars.choices is defined %}
        {% if formField.vars.attr.with_plus is defined and formField.vars.attr.with_plus %}
            {{ _form_input.input_select_plus(formField, path('app_stage_new')) }}
        {% else %}
            {{ _form_input.input_select(formField) }}
        {% endif %}
    {% elseif formField.vars.checked is defined %}
        {{ _form_input.input_ligne(formField,false) }}
    {% else %}
        {{ _form_input.input_ligne(formField) }}
    {% endif %}
{% endfor %}
<div class="form-floating mb-3">
    <button class="btn btn-primary mt-2 col-4">{{ button_label|default('Sauvegarder') }}</button>
</div>
{{ form_end(form) }}

