{% extends 'base.html.twig' %}

{% block title %}Etudiant{% endblock %}

{% block body %}
    <h1>Etudiant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etudiant.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ etudiant.Nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ etudiant.Prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ etudiant.Email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ etudiant.Telephone }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Convocations</h2>

    {% if etudiant.convocations|length > 0 %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Date</th>
                <th>Motif</th>
                <th>Description</th>
                <th>Action</th>
                <th>Responsable</th>
            </tr>
            </thead>
            <tbody>
            {% for convocation in etudiant.convocations %}
                <tr>
                    <td>{{ convocation.date ? convocation.date|date('d/m/Y') : '' }}</td>
                    <td>{{ convocation.motif }}</td>
                    <td>{{ convocation.description }}</td>
                    <td>{{ convocation.actionMiseEnPlace }}</td>
                    <td>{{ convocation.refResponsable }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucune convocation pour cet étudiant.</p>
    {% endif %}
    <a href="{{ path('app_etudiant_index') }}">back to list</a>

    <a href="{{ path('app_etudiant_edit', {'id': etudiant.id}) }}">edit</a>

    {{ include('etudiant/_delete_form.html.twig') }}
{% endblock %}
